body{
    font-family: 'Khula', sans-serif;
}
  .ff-title{
      font-family: 'Karla', sans-serif;
  }
  .fw-regular{
    font-weight: 400;
  }
  .fw-bolder{
    font-weight: 500;
  }
  .fw-bold{
    font-weight: 700;
  }
  .lead-large{
    font-size: 1.5em;
  }
